python/.ipynb_checkpoints
python/python_faq.md
python/sources
python/python_notes.md
python/python_notes.ipynb
python/residuals
python/src

statistic/source
statistic/Notes of Practical Statistics for Data Scientists Book/.ipynb_checkpoints
statistic/test.py
statistic/src

linear_algebra